{# src/Phytoscope/AppBundle/Resources/views/Quetionnaire/questionnaire.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	Mieux vous connaître - {{ parent() }}
{% endblock %}

{% block body %}

	{{ parent() }}
	<h1>{{ client.nom }}</h1>
	{% if client.agence != null %}
		<h2> {{ client.agence }} </h2>
	{% endif %}
	<div class="well col-sm-9">
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
			{{ form_errors(form) }}
				<div class="form-group">
					{{ form_label(form.qBotaniste, 'Avez-vous un ou des botaniste(s) dans votre structure ?', {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
					{{ form_errors(form.qBotaniste) }}
					<div class="col-sm-4">
						{{ form_widget(form.qBotaniste, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div> {# class form-group #}
				<div class="form-group">
					{{ form_label(form.qNbBotanistes, 'Si oui, pourriez-vous nous donner une estimation ?', {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
					{{ form_errors(form.qNbBotanistes) }}
					<div class="col-sm-4">
						{{ form_widget(form.qNbBotanistes, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div> {# class form-group #}
			{{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary'}}) }}
			{{ form_rest(form) }}
		{{ form_end(form) }}
	</div> {# class well #}

{% endblock %}

